/*styles.css*/
.para1,
.para2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    color: rgb(231, 12, 30);
}

.images {
    height: auto;
    width: 300px;

}

.para1,
.para2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.para1 {
    background-color: blue;
    color: bisque;
    font-size: larger;
}
.para2 {
    background-color: brown;
    color: forestgreen;
    font-size: x-small;
}